html,body {
    margin:0;
    padding:0;
}

.bold{
    font-weight: bold;
}

h1{
    text-align: center;
}

header{
    height: 30rem;
    background-image: url("images/matsuribg.jpg");
}

header h1{
    color: gold;
    font-weight: bold;
}

header span{

    background-color: black;
}
header h2{
    color: white;
    text-align: center;
}

#joshuaguiman{
    color: white;
    margin-top: 12rem;
    
}

#matsuriOverview{
    background-color: white;
    border-style: solid;
    border-radius: 6%;
    border-width: thick;
}

#matsuriRole{
    background-color: orange;
    border-style: solid;
    border-radius: 6%;
    border-width: thick;
}

#collegeStudent{
    height: 15rem;
    width: 15rem;
    background-image: url("images/collegeStudent.jpeg");
    background-position: right;
    background-size: cover;
}

#todd{
    height: 15rem;
    width: 15rem;
    background-image: url("images/todd.jpeg");
    background-position: center;
    background-size: cover;
}

#japanFamily{
    height: 15rem;
    width: 15rem;
    background-image: url("images/japanFamily.jpeg");
    background-position: center;
    background-size: cover;
}

#oldMatsuriBG{
    background-image: url("images/oldMatsuriBG.jpeg");
    height: 15rem;
    width: 30rem;
    background-size: cover;
}

#newMatsuriBG{
    background-image: url("images/matsuribg.jpg");
    height: 15rem;
    width: 30rem;
    background-size: cover;
}

#includeJapan{
    background-image: url("images/includeJapan.png");
    height: 21rem;
    width: 21rem;
    background-size: cover;
}

#includeJapan2{
    background-image: url("images/includeJapan2.png");
    height:21rem;
    width: 42rem;
    background-size: cover;
}

section{
    height: 27rem;
    padding-top: 2rem;
}


section:nth-child(2n-1){
    background-color: white;
}

section:nth-child(2n){
    background-color: pink;
}

#audience{
    height:43rem;
}

#prototyping{
    height: 103rem;
}

#finalProduct{
    height: 40rem;
}

@media only screen and (max-width: 900px) {
    section{
        height: 40rem;
    }
    #audience{
        height:100rem;
    }
    
    #prototyping{
        height: 170rem;
    }
    #oldMatsuriBG{
        background-image: url("images/oldMatsuriBG.jpeg");
        height: 14rem;
        width: 28rem;
        background-size: cover;
    }
    
    #newMatsuriBG{
        background-image: url("images/matsuribg.jpg");
        height: 14rem;
        width: 28rem;
        background-size: cover;
    }
    #includeJapan2{
        background-image: url("images/includeJapan2.png");
        height:14rem;
        width: 28rem;
        background-size: cover;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    section{
        height: 40rem;
    }
    #audience{
        height:100rem;
    }
    
    #prototyping{
        height: 170rem;
    }
    #oldMatsuriBG{
        background-image: url("images/oldMatsuriBG.jpeg");
        height: 14rem;
        width: 28rem;
        background-size: cover;
    }
    
    #newMatsuriBG{
        background-image: url("images/matsuribg.jpg");
        height: 14rem;
        width: 28rem;
        background-size: cover;
    }
    #includeJapan2{
        background-image: url("images/includeJapan2.png");
        height:14rem;
        width: 28rem;
        background-size: cover;
        margin-top: 1rem;
    }
  }