

header{
    height: 30rem;
    background-image: url("images/steamGamesLogo.jpeg");
    background-position: right;
    background-size: cover;
}

header h1{
    color: white;
    text-align: center;
    padding-top: 17rem;
}

h2{
    padding-top: 3rem;
}
section{
    height: 25rem;
}

section:nth-child(2n-1){
    background-color: #1b2838;
}

section:nth-child(2n -1) h2{
    color: white;
}

section:nth-child(2n -1) p{
    color: white;
}

section:nth-child(2n -1) h5{
    color: white;
}

section:nth-child(2n -1) ul li{
    color: white;
}

section:nth-child(2n){
    background-color: white;
}

#dataCollection{
    height: 43rem;
}

#dataCleaning{
    height: 32rem;
}

#eda{
    height: 106rem;
}